.footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 3em;
}

.socail_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socail_list li {
  margin: 0 1em;
  font-size: 1.5em;
}

.socail_list li:hover {
  cursor: pointer;
  color: #ffbb33;
}

.copy_right {
  margin-top: 2em;
}
.copy_right span {
  font-weight: bold;
  color: #ffbb33;
}
