.btn {
  background-color: #222;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 5px;
}

.btn:hover {
  color: #ffbb33;
  cursor: pointer
}
.btn_disabled {
  background-color: #222;
  color: gray;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 5px;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 20px;
  width: 20px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}